/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-05-2020, 21:05:32
    Author     : saez_
*/
.contenedor-grafico{
    padding-top: 30px;
}
.grafico-data{
    overflow: hidden;
    width: 100%;
    height: 700px;
    display: flex;
    max-width: 700px;
    max-height: 700px;
    margin: auto;
    border-style: none;
    align-content: center;
}
.grafico-destacado{
    overflow: hidden;
    width: 100%;
    height: 400px;
    display: flex;
    max-width: 700px;
    max-height: 700px;
    margin: auto;
    border-style: none;
    align-content: center;
}