@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
body{
    overflow-x: hidden;
}
.x-msg{
    text-align: left;
    font-size: 25px;
}
#x-titulo{
    text-align: center;
    font-size: 30px;
}
/*.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 25px;
    display: none;
    border: 1px solid #49535E;
}*/

.text-justify {
    text-align: justify;
}
h1{
    color: #2680BD;
    font-size: 50px;
    font-family: 'ScalaSansPro';
    font-weight: bold;
}
h2{
    color: #2680BD;
    font-family: 'ScalaSansPro';
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
}
h4{
        font-family: 'ScalaSansPro';
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    color: #2680BD;
    font-size: 20px;
}
p{
    color: #49535E;
    font-size: 20px;
    text-align: justify;
}
.dot-list {
    list-style-type: disc !important;
    color: #F58457;;
    padding-left:1em !important;
}

p.white{
    color: #FFFFFF;
}
.btn.btn-primary{
    background-color: #0062AB;
    border: none;
    font-size: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.btn.btn-primary:hover{
    background-color: #FFFFFF;
    color: #0062AB;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.23);
}
.btn.btn-primary:active{

}
.logo-corfo{
    background-image: url("../img/logos/corfo_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
    margin-top: -70px;
    margin-left: 150px;
}
.logo-innova{
    background-image: url("../img/logos/innova_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 450px;
    height: 120px;

    margin: auto;
    margin-top: -110px;

    transition: 1s;
}
.logo-innova:hover{
    transform: scale(1.1);
}
.jumbotron{
    width: 100%;
    height: 10px;
    background-color: #FFFFFF;
    margin-bottom: 0px;
}
.circulo-data{
    width: 12em;
    height: 12em;
    background-color: #48ACF1;
    border-radius: 100px;
    transform: scale(1.1);
    transition: 0.3s;
    margin: auto;
    margin-bottom: 2em;

}
.circulo-data:hover{
    transform: scale(1.2);
    -webkit-box-shadow: 0px 0px 27px -5px rgba(0,97,171,1);
    -moz-box-shadow: 0px 0px 27px -5px rgba(0,97,171,1);
    box-shadow: 0px 0px 27px -5px rgba(0,97,171,1);
    border: 5px solid #D1ECFF;
}
.texto-circulo-data{
    margin: auto;
    font-family: 'ScalaSansPro';
    font-weight: bold;
    font-style: italic;
    font-size: 28px;
}
.circle-link{
    text-align: center;
    display: block;
    vertical-align: middle;

}

.circle-link h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

hr{
    border-color: #0062AB;
}

a{
    color: #0062AB;
}
a:hover{
    color: #2680BD;
}
.link-normal{
    color: #0062AB;
    font-size: 20px;
}
.link-normal:hover{
    color: #2680BD;

}
.link-normal.estudios{
    color: #0062AB;
    font-size: 18px;
    margin-left: 5px;
}
.link-normal.small{
    color: #0062AB;
    font-size: 15px;
}
.navbar{
    background-color: #0062AB;
}
.navbar-nav{
    margin-bottom: 0px;
}
.nav-item{
    margin-right: 4px;
    margin-top: -5px;
    margin-bottom: -5px;
}
.nav-link{
    font-size: 24px;
    background-color: #0062AB;
    color: #FFFFFF;
    transition: 0.5s;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 20px;
    width: 100%;
    text-align: center;
    font-family: 'ScalaSansPro';
    font-weight: bold;
}
.dropdown-item{
    font-family: 'ScalaSansPro';
    font-weight: bold;
    font-size: 25px;
}
.nav-link:hover{
    color: #0062AB;
    background-color: #FFFFFF;
}

.container.menu-bar{
    padding-left: 150px;
}

.row.section{
    padding-top: 70px;
    margin-bottom: 0px;

}
.row.section.quienes{
    height: 600px;
    padding-top: 70px;
    margin-bottom: 100px;

}
.bg-quienes-somos{
    width:100%;
    height: 900px;
    position: absolute;
    background-image: url("../img/bg/conectados.jpg");
    top: 20px;
    opacity:0.2;
    z-index: -5;
    background-size: cover;
    background-repeat: no-repeat;
}

.destacado-naranja{
    font-family: 'ScalaSansPro';
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    color: #F6875A;
    padding-left: 30px;
    text-align: center;
}
#bg-footer{
    background-color: #D1ECFF;
    padding-bottom: 30px;
}
#footer{
    transition: 1s;
}

#copyright{
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #11456B;
}
.dropdown{
    position: relative;
    display: inline-block;
    vertical-align: middle;

}
.dropdown-menu{
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.23);
}
.dropdown-item{
    font-size: 24px;
    color: #0062AB;
}
.dropdown-item:hover{
    color: #FFFFFF;
    background-color: #0062AB;

}

#nav-bar-dropdown-arrow3{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.dropdown-menu{
    background-color: #FFFFFF;
}
.dropdown>.dropdown-menu {
    top: 200%;
    margin-top: 0px;
    margin-left: 8%;
    transition: 0.3s all ease-in-out;
    vertical-align: middle;
    left: 0%;
}
.dropdown:hover>.dropdown-menu {
    display: block;
    top: 100%;
    left: 22%;
}



.header{
    -webkit-box-shadow: 2px 12px 40px -28px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 12px 40px -28px rgba(0,0,0,0.6);
    box-shadow: 2px 12px 40px -28px rgba(0,0,0,0.6);
}


.footer-sticky{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 100;
}
.icono-blanco{
    color: white;
}
.color-blanco{
    color: white;
}

.icono-azul{
    color: #0062AB;
}
.color-azul{
    color: #0062AB;
}
.icono-azul-claro{
    color: #48ACF1;
}
.color-azul-claro{
    color: #48ACF1;
}
.icono-naranja{
    color: #F58457;
}
.icono-celeste{
    color: #D1ECFF;
}
.color-ig {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.bg-azul{
    background-color: #0B65AB;
    color: white;
    padding: 10px;
}
.rounded-bottom{
    border-radius: 0px 0px 5px 5px;
}
hr.faded {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(11,101,171,0.05), rgba(11,101,171,1), rgba(11,101,171,0.05));
}
.faded-naranja {
    border-top: 1px solid #F58457;
}
.faded-naranja-alt {
    border-top: 1px solid #F58457;
}
@media (min-width: 992px) {
    .modal-lg {
        max-width: 55%;
    }
}