h1{
    color: #2680BD;
    font-size: 40px;
}
p{
    color: #49535E;
    font-size: 20px;
}

.logo-corfo{
    background-image: url("../img/logos/corfo_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
    margin-top: -70px;
    margin-left: 150px;
}
.logo-innova{
    background-image: url("../img/logos/innova_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 450px;
    height: 120px;

    margin: auto;
    margin-top: -110px;
}
.jumbotron{
    width: 100%;
    height: 10px;
    background-color: #FFFFFF;
    margin-bottom: 0px;
}

.img-size{
    width: 70%;
    height: auto;
}

.img-round{
  border-radius: 50%;
  width: 300px;
  z-index: -300;
}

.circle-link{
    text-align: center;
    display: block;
    vertical-align: middle;
}

a:visited{
    color: white;
}
a{
    color: white;
}
.link-normal{
    color: #0062AB;
}
.link-normal:hover{
    color: #2680BD;
}
.navbar{
    background-color: #0062AB;
}
.navbar-nav{
    margin-left: 10%;
}
.nav-link{
    font-size: 20px;
    background-color: #0062AB;
    color: #FFFFFF;
    transition: 0.5s;
    border-radius: 5px;
    margin-left: 30px;
    width: 200px;
    text-align: center;
}
.nav-link:hover{
    color: #0062AB;
    background-color: #FFFFFF;
}
.row.section{
    padding-top: 70px;
    margin-bottom: 100px;
}

.bg-quienes-somos{
    width:100%;
    height: 900px;
    position: absolute;
    background-image: url("../img/bg/conectados.jpg");
    top: 20px;
    opacity:0.2;
    z-index: -5;
    background-size: cover;
    background-repeat: no-repeat;
}
