@import "style.less";

.icon-bar {
    width: 22px;
    height: 2.5px;
    background-color: WHITE;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 0% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
.navbar-toggler2 {
    width: 65px;
    height: 40px;
    border-radius: 300px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: none;
    background-color: @special-color
}
.navbar-toggler2:hover{
    background-color: @special-color-darker;
}
.navbar-toggler2 .top-bar {
    transform: rotate(45deg);
    transform-origin: 15% 15%;
}

.navbar-toggler2 .middle-bar {
    opacity: 0;
}

.navbar-toggler2 .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 0% 80%;
}

.navbar-toggler2.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler2.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler2.collapsed .bottom-bar {
    transform: rotate(0);
}


/*---------------------------------------------------------------*/
/*BARRA DE NAVEGACION*/

.navbar{
    background-color: @second-color;
    transition: background-color 0.5s ease 0s;
    width: 100%;
}
.navbar-nav{
    margin-bottom: 0px;
}
.nav-item{
    margin-right: 0px;
    margin-top: -5px;
    margin-bottom: -5px;
}
.nav-link{
    .s-text();
    background-color: transparent;
    color: white;
    .transition(0.2s);
    .border-radius(5px);
    margin-left: 0px;
    margin-right: 20px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
    text-align: center;
    .normal-font();
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: width 0.2s ease out !important;
}
.nav-item{
    padding-left:50px !important;
    padding-right:50px !important;
}
.nav-link:hover{
    color: @white-color;
       transform: translateZ(0);
    .scale(1.097);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}
.dropdown-item{
    .normal-font();
    .s-text();
}
.dropdown{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.dropdown-menu{
    .button-shadow();
}
.dropdown-item{
    .s-text();
    color: @second-color;
}
.dropdown-item:hover{
    color: white;
    background-color: @second-color;

}
#nav-bar-dropdown-arrow3{
    .transition(0.3s);
}
.dropdown-menu{
    background-color: white;
}
.dropdown>.dropdown-menu {
    top: 200%;
    margin-top: 0px;
    margin-left: 8%;
    .transition(0.3s);
    vertical-align: middle;
    left: 0%;
}
.dropdown:hover>.dropdown-menu {
    display: block;
    top: 100%;
    left: 22%;
}
.initial-state{
    .s-text() !important;
    background-color: transparent !important;
    color: @main-color !important;
    .transition(0.2s) !important;
    .border-radius(5px);
    margin-left: 0px;
    margin-right: 20px;
    width: 100%;
    text-align: center;
    .normal-font();
}
.initial-state:hover{
    color: @second-color;
    background-color: white;
}
/*---------------------------------------------------------------*/

.vertical-nav {
    padding-top: 40px;
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}