/*Azul claro*/
@main-color: #2680BD; 

/*Azul oscuro*/
@second-color: #0062AB;

/*Celeste claro */
@third-color: #D1ECFF;

/*Azul super oscuro */
@fourth-color: #11456B;

/*Celeste*/
@fifth-color: #48ACF1;

/*Naranja*/
@special-color: #FA8A0B;
@special-color-darker: #db7508;

/*Color crema*/
@special-second-color: #FFE9D2;

/* Gris  */
@text-color: #49535E;
@gray: #bfbfbf;
@lightgray: #EEEEEE;

/*Fuentes*/
.bold-font(){
    font-family: 'ScalaSansPro';
    font-weight: bold;
    font-style: normal;
}
.bold-italic-font(){
    font-family: 'ScalaSansPro';
    font-weight: bold;
    font-style: italic;
}
.normal-font(){
    font-family: 'ScalaSansPro';
    font-weight: normal;
    font-style: normal;
}
.xxl-text(){
    font-size: 65px;
}
.xl-text(){
    font-size: 50px;
}
.l-text(){
    font-size: 35px;
}
.m-text(){
    font-size: 25px;
}
.s-text(){
    font-size: 20px;
}
.xs-text(){
    font-size: 15px;
}

.transition(@time){
    -webkit-transition: all @time ease;
    -moz-transition: all @time ease;
    -o-transition: all @time ease;
    transition: all @time ease;
}

.button-shadow(){
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.23);
}

.scale(@size){
    -webkit-transform: scale(@size);
    -o-transform: scale(@size);
    transform: scale(@size);
}
.border-radius(@size){
    -webkit-border-radius: @size; 
    -moz-border-radius: @size; 
    border-radius: @size; 
}
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  border: 1px solid red;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #2680bd;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #48acf1;
}
::-webkit-scrollbar-thumb:active {
  background: #0062ab;
}
::-webkit-scrollbar-track {
  background: #ebf5ff;

  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #cce7ff;
}
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.form-control::-webkit-input-placeholder { color: @gray; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: @gray; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: @gray; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: @gray; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: @gray; }  /* Microsoft Edge */


.bg-primary{
    color: white;
    background-color: @main-color;
    padding: 5px;
}
.bg-primary:hover{
    color: white;
}

.xxl-text{
    .xxl-text();
}
.xl-text{
    .xl-text()
}
.l-text{
    .l-text();
}
.m-text{
    .m-text();
}
.s-text{
    .s-text();
}
.xs-text{
    .xs-text();
}
.icono-blanco{
    color: white;
}
.color-blanco{
    color: white;
}

.icono-azul{
    color: @second-color;
}
.color-azul{
    color: @second-color;
}
.icono-azul-claro{
    color: @fifth-color;
}
.color-azul-claro{
    color: @fifth-color;
}
.color-rojo{
    color: red;
}
.icono-naranja{
    color: @special-color;
}
.icono-celeste{
    color: @third-color;
}
.color-ig {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.bg-azul{
    background-color: @fourth-color;
    color: white;
    padding: 10px;
}
.bg-gris{
    background-color: @lightgray;
}
.bc-gris{
    border-color: @gray;
}
.bc-celeste{
    border-color: @third-color;
}